[Unit]
Description=Start Batterycheck
After=graphical-session.target
Requires=graphical-session.target


[Service]
ExecStart=%h/.local/scripts/batterycheck
Type=exec

[Install]
WantedBy=graphical-session.target
